/**
 * @name My Theme
 * @author Sky Ventor
 * @version 1.0.0
 * @description Hardwood floor background
*/

:root {
    --BG-image: url("https://wallpapercave.com/wp/0oNavSv.jpg");
    --TextColor: white;
    --imgOpacity: 0.5;
    --font-size: 16px;
    --scroll-bar-color: white;
    --transparency: rgba(0, 0, 0, 0.8);
}

body,														/* body														*/
    #app-mount .app-1q1i1E,										/* app					container							*/
    #app-mount .app-2rEoOp,										/* app					inner								*/
    #app-mount .container-16j22k,								/* app					loadingscreen						*/
    #app-mount .bg-h5JY_x,										/* app					background							*/
    #app-mount .layer-3QrUeG,									/* layer				container							*/
    #app-mount .container-PNkimc,								/* channels				inner								*/
    #app-mount .privateChannels-1nO12o,							/* dmchannels												*/
    #app-mount .panels-j1Uci_ > *,								/* account/voice		inner								*/
    #app-mount .chat-3bRxxu,									/* chat					container							*/
    #app-mount .noChannel-Z1DQK7,								/* nochannel												*/
    #app-mount .content-MLh4nU,									/* unavailable											*/
    #app-mount .container-1D34oG,								/* peoples													*/
    #app-mount .applicationStore-1pNvnv,						/* nitro													*/
    #app-mount .pageWrapper-1PgVDX,								/* guilddiscovery											*/
    #app-mount .scroller-2FKFPG,								/* scroller													*/
    #app-mount .standardSidebarView-3F1I7i,						/* settings													*/
    #app-mount .contentRegion-3nDuYy,
    .textContent-3N7xXx,
    .listItem-2P_4kh,
    .container-1r6BKw, .container-1r6BKw,
    #app-mount .headerTop-3C2Zn0                                /* settings				content								*/

{				
        background:transparent !important;
}

html {
    font-size: var(--font-size) !important;
}

[class~=app] {
    background: var(--BG-image) !important;
    background-size: cover !important;
}

#app-mount > div.typeMacOS-3EmCyP.titleBar-AC4pGV.da-typeMacOS.da-titleBar.unfocused-1QsMU3.da-unfocused > div{
    background: transparent;
}
.appMount-3lHmkl{
    -ms-flex-direction: column;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    width: 100vw;
    background: hsla(180,0%,50%,0.25);
    background: linear-gradient(var(--transparency), var(--transparency)), var(--BG-image) no-repeat fixed center !important; 
    background-size: cover !important;
}

#app-mount .sidebar-2K8pFh, #voice-connection, .guild-header header, #friends, .friends-header, .friends-table, .guilds-wrapper, .channels-wrap, .private-channels .search-bar, .private-channels, .guild-channels, .account, .friend-table-add-header, .chat, .content, .title-wrap:not(.search-bar), .messages-wrapper, .messages .divider span, .messages .divider:before, .content, .message-group-blocked, .is-local-bot-message, .channel-members-loading, .channel-members-loading .heading, .channel-members-loading .member, .typing, .container-RYiLUQ, .theme-dark .ui-standard-sidebar-view, .theme-dark .ui-standard-sidebar-view .sidebar-region, .theme-dark .ui-standard-sidebar-view .content-region, .theme-dark .channel-members, .container-2OU7Cz, .theme-dark .chat form, .channels-3g2vYe, .theme-dark .friends-table, .theme-dark .messages-wrapper, .content .flex-spacer, .theme-dark .chat>.content, .theme-dark .chat, .channel-members, .search .search-bar, .container-iksrDt, .container-3lnMWU, .theme-dark .title-qAcLxz, .theme-dark .typing-3eiiL_, .theme-dark .activityFeed-HeiGwL, .theme-dark .headerBar-cxbhPD, .theme-dark .lfg-3xoFkI, .video-3lOWa6, .theme-dark .private-channel-call, .appMount-3VJmYg, .container-2lgZY8, .channels-Ie2l6A, .container-PNkimc, .container-2Thooq, .theme-dark .title-3qD0b-, .theme-dark .typing-2GQL18, .search-bar.search-bar-light, .emojiPicker-3m1S-j .scroller-3vODG7 .emojiItem-109bjA.selected-39BZ4S, .theme-dark .members-1998pB, .activityFeed-28jde9, .card-7JP0BX, .layers, .layer, .links, .chat, .typing, .content, .guild-channels, .private-channels, .guild-header header, .divider-red span, .messages-wrapper, #voice-connection, .layers-20RVFW, .layer-kosS71, .container-2OU7Cz, .typing-3eiiL_, .container-iksrDt, .layers-20RVFW, .aka-2Ba14Z {
	background-color: transparent!important;
}

.container-2OU7Cz, .theme-dark .title-qAcLxz, .channels-3g2vYe, .theme-dark .chat form, .theme-dark .headerBar-cxbhPD, css.theme-dark .title-qAcLxz, .channels-3g2vYe, .theme-dark .members-1bid1J, .titleWrapper-3Vi_wz, .theme-dark .chat, .container-RYiLUQ, .guilds-wrapper .guilds, .typeMacOS-3IiWed, .titleBar-3_fDwJ, .theme-dark #friends, .private-channels, .wrapper-2ldvyE {
	background-color: transparent!important;
}

.theme-dark .container-1ETFDs .homeButton-2Cw51C {
    background: transparent;
    border-radius: 25px !important;
}

#app-mount .scroller-2FKFPG{
    background: transparent!important;
}

.app-2rEoOp {
    background: transparent!important;
    background: hsla(180,0%,50%,0.25);
    background-color: var(--BG-image);
}

.modeMuted-3osy7j.name-3_Dsmg{
    color: rgb(172, 172, 172);
}

.wrapper-1ucjTd{
    color: var(--TextColor);
}

#app-mount .name-IbjUBS, .wrapper-CU3qI5 .icon-WnO6o2, .wrapper-CU3qI5 .name-IbjUBS{
    color: var(--TextColor);
}

#app-mount .chat-3bRxxu{color: var(--TextColor);}

.icon-1_QxNX{color:var(--TextColor);}
.icon-1_QxNX.da-icon{color:gray;}

#app-mount .panels-j1Uci_{
    background-color: transparent;
    background-position: 99%;
}

.theme-dark .body-3iLsc4, .theme-dark .footer-1fjuF6 {
    color: hsla(100,0%,0%,.8);
}

.theme-dark .standardSidebarView-3F1I7i {
    background: var(--main-transparency);
}

#app-mount .messageContent-2qWWxC{color: var(--TextColor);}

#app-mount .container-2lgZY8 {
    background-color: rgba(0, 0, 0, 0);
}

#app-mount .headerTop-3C2Zn0{
    background: transparent;
}

.scroller-2FKFPG.da-scroller.systemPad-3UxEGl.da-systemPad.scroller-2TZvBN{
    background-color: transparent;
}

.expandedFolderBackground-2sPsd-{
    background-color: transparent;
}

.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9, .wrapper-1BJsBx .childWrapper-anI2G9{
    background-image: var(--BG-image);
    background: transparent;
}

.timestamp-3ZCmNB.da-timestamp{
    color: var(--TextColor);
}

#app-mount .scroller-2FKFPG{
    background-color: transparent;
}


.scroller-3sQKXg{
    background-color: transparent!important;
}

.container-2lgZY8 {
    background-color: rgba(0, 0, 0, 0);
}

.friendsTable-133bsv .friendsTableBody-1ZhKif {
    background-color: transparent!important;
}

.title-29uC1r{
    background-color: transparent!important;
}

.sidebarRegionScroller-3MXcoP {
    background: transparent!important;
}

#app-mount .scroller-2FKFPG{
    background-color: transparent!important;
}
.contentRegionScroller-26nc1e {
    background-color: transparent!important;
}

.theme-dark .bodyInner-245q0L, .theme-dark .footer-1fjuF6 {
    background-color: transparent!important;
}

.scroller-305q3I {
    background-color: transparent!important;
}

.bg-h5JY_x {
    background-color: transparent!important;
}

.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-thumb {
    background-color: var(--scroll-bar-color);
    border-color: transparent!important;
    
}

.container-3baos1, .container-3baos1 .avatar-SmRMf2{
    background-color: white;
}

.container-3baos1{
    background-color: white;
}

